 <div class="container"> 
  <p id="notice"><%= notice %></p>

  <%= form_for [Post.new] do |f| %>
  <p>
    <%= f.label :body, "New Post" %><br/>
    <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Create Post" %></p>
  <% end %>
  <h1>Listing Posts</h1>

  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Body</th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.user.username %><br></td>
          <td><%#= link_to (image_tag post.image.url), post%></td>
          <td><%= link_to (post.body), post %>
            <% if post.user == current_user %>
              <p>
              | <%= link_to 'Edit', edit_post_path(post) %> |
              <%= link_to 'Delete', post, method: :delete, data: {confirm: 'Are you sure'} %>
            <% end %>
          </td>

          <td><%= link_to 'Like', upvote_post_path(post), method: :post %> |</td>
          <td> <%= time_ago_in_words(post.created_at) %></td>
          <td><%= pluralize(post.votes.count, "Like") %></td>
          <td><%= pluralize(post.comments.count, "Comment") %></td>


            <td><%= render post.comments %></td>
            <td>
              <%= form_for [post, Comment.new] do |f| %>
                <p>
                  <%= f.label :comment, "New comment" %><br/>
                  <%= f.text_area :comment %>
                </p>
                <p><%= f.submit "Add comment" %></p>
            </td>

          <% end %>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <br>

  <%= link_to 'New Post', new_post_path %>
</div>